

.subcontainer{
	display: flex;
	margin-bottom: $main-spacing;

	@include at-small-breakpoint {
    flex-direction: column;
  }
}

.section1{
	background: #D8D8D8;
	border: 1px solid #979797; 
	width: 100%;
	height: 300px;
	margin-right: $main-spacing;
	
	@include at-small-breakpoint {
    margin-bottom: $main-spacing;
  }
}

.section1:last-child{
	margin-right: 0;
}

.section2{
	background: #D8D8D8;
	border: 1px solid #979797; 
	width: 100%;
	height: 120px;
	margin-right: $main-spacing;

	@include at-small-breakpoint {
    margin-bottom: $main-spacing;
  }
}

.section2:last-child{
	margin-right: 0;
}
